<!DOCTYPE html>
<html>
  <head>
    <link href="estilo.css" rel="stylesheet">
    <title>Programação móvel para IoT - SENAI</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  </head>
  <body>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4461037082332211"
     crossorigin="anonymous"></script>
    <h1>Vamos ver um exemplo de aplicação de Controllers?</h1>
    <div ng-app="myApp" ng-controller="myController">
      <p>Os termos já são preenchidos pelo Controller.</p>
      <input type="text" ng-model="nome">
      Nome
      <p></p>
      <input type="text" ng-model="sobrenome">
      Sobrenome
      <p>O nome do usuário é {{nome + " " + sobrenome}}</p>
    </div>

    <!-- <button onclick="teste()"> Aperte</button> -->

    <script src="Teste.js"></script>
  </body>
</html>
